*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Small screens (default) */
html { font-size: 100%; }
 
/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 112%; }
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 120%; }
}

.container {
  margin: 0 auto;
  max-width: 90rem;
  width: 90%;
}

@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .column.full { 
  	width: 100%; 
  	margin-top: 13%;
  }
  .column.two-thirds { width: 66.7%; }
  .column.half { 
  	width: 50%;
  	text-align: left;
  	padding-top: 5%;
  	letter-spacing: 2px;
  	}
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }  
}

body {
	font-family: 'Oswald', sans-serif;
}

.fadeIn {
	  -vendor-animation-duration: 5s;
}

div > p {
	font-family: 'Hind', sans-serif;
	font-size: 69%;
}

div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
  margin-left: 15%;
  border-radius: 1%;
}

.p-links {
	font-size: 75%;
	letter-spacing: 2px;
	margin-left: 0 auto;
	margin-right: 0 auto;
	display: inline-block;
	margin-right: 2%;
	color: black;
}
